@import "/\*";
@import "bootstrap";
@import "toastr";
html, body {
    height: 100%;
    margin: 0;
  }
.login-body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #f5f5f5;
    height: 92%;
}
.a {
    text-decoration: none;
}
.round-img{
    border-radius: 100%;
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    vertical-align: middle;
}
#profile .profile-block .info {
    padding: 25px 25px 15px;
    
}
.cover {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile .profile-block {
    margin: 0 auto;
    background: #FFF;
    margin-bottom: 25px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0.5px 1px rgba(0,0,0,0.25); 
    -moz-box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
    box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
    width: 60%;
}
#profile .profile-block .info .avatar {
    height: 70px;
    width: 70px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    
}
#profile .profile-block .info .text {
    margin-left: 85px;
}
#profile .profile-block .info .text .username {
    font-size: 16px;
    margin-bottom: 5px;
    float: left;
}
#profile .profile-block .info .text .action {
    float: right;
    margin-top: -5px;
}
#profile .profile-block .info .text .action .action-button {
    margin: 0;
}
#profile .profile-block .info .text .action .action-button .btn {
    line-height: 16px;
}
.btn.btn-default {
    background: #FFF;
    border-color: #CCC;
    color: #2FB5FA;
}
.btn.btn-round {
    border-radius: 20px;
}
.btn {
    display: inline-block;
    padding: 6px 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#profile .profile-block .info .text .email {
    clear: both;
    margin-bottom: 10px;
    color: #555;
    font-size: 15px;
    word-wrap: break-word;
}
.flexcontainer {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
 }
 #profile .profile-block .info .text .statistic {
    color: #999;
    font-size: 14px;
}
.center{
    margin: 0 auto;
}
#header{
    .header-upper {
        height: 65px;
        background: #FFF;
        z-index: 600;
        width: 100%;
        position: relative;
        .outer-container{
            width: 80%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            .header-home {
                float: left;
                margin-right: 15px;
            }
            .header-search {
                display: inline-block;
                position: absolute;
                width: 400px;
                padding: 17px 0 18px 40px;
                .input {
                    float: left;
                    background: #FFF;
                    border: 0;
                    padding-left: 10px;
                    outline: 0;
                    width: 100%;
                    height: 30px;
                    box-sizing: border-box;
                }
                .submit {
                    position: absolute;
                    top: 12px;
                    left: 0;
                    border: 0;
                    width: 40px;
                    height: 40px;
                }
            }
            .header-account{
                float: right;
                padding-top: 10px;
                padding-bottom: 10px;
                background: #FFF;
                position: relative;
                .list-menu {
                    position: relative;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    padding: 0;
                    .create-post {
                        padding: 7px 0;
                        margin-right: 15px;
                    }
                    li{
                        float: left;
                    }
                    .dropdown {
                        padding: 3px 0;
                        margin-left: 5px;
                        .dropdown-toggle {
                            display: block;
                            line-height: 39px;
                            height: 39px;
                            min-width: 39px;
                            position: relative;
                            text-align: center;
                            white-space: nowrap;
                        }
                        .dropdown-toggle:after { content: none }
                    }
                    .account-access {
                        padding-left: 20px;
                        .useravatar{
                            float: left;
                        }
                    }
                }
            }
        }
    }
}
