.delete-post-icon {
  color: #262626;
  font-size: 20px;
}

.delete-comment {
  width: 11px;
  height: 11px;
  background-position: -216px -112px;
  float: right;
  margin: 5px 0 0 10px;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}
.core-sprite {
  background-size: 405px 379px;
  background-repeat: no-repeat;
}
.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.love{
  background-image: url("https://img.icons8.com/ios/24/000000/facebook-like.png");
  background-repeat: no-repeat;
  background-position: center;

}
.loved{
  background-position: center;

  background-repeat: no-repeat;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABHklEQVRIic3Vvy4EURTH8c+yNAQFhUdAopAovAISrUal0W6zUXoHhY5eohKFglfYiF6WSAiy/pQiRrGz2TGZHTOTmcQvOZm595x7vufcyZ1LxRrOEbuIBpZxhc+yi2kgCO0MQ1kWZQpK0GpolQFgq2zAaGw8XzZgIzZ+LhOwgJXYXKtMwHbC3HmWhbUQ0sJ4gv8Ye7jHdMx3h68BeTvYxUV0IkiwE6wP8P1lD6j1tqid0uVUii9NNfrf4LZgkjQ1EWTpoKhm6XdQBaBTJeAaR1UC5oRXQVWAR+F90QO84y3yvomXgsk/sKZ7Fn79Ktrhs44ZjBQETOiefIMAY9jHZKSiPLrR3w31iOMQT7HgS5xiB0sZkr/iAN85i/rH+gGYdkUpzkia+wAAAABJRU5ErkJggg==");
}
.delete-post{
  background-image: url("https://img.icons8.com/material/24/000000/delete-forever--v1.png");
  background-position: center;
  background-repeat: no-repeat;
}